{% extends "base.html" %}
{% block content %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Find Foods</h3>
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Search By Ingredients : </label>
                        <input type="text" class="form-control" id="searchId">
                    </div>
                </form>
            </div>
        </div>
          <div class="row">
              <div class="col-md-12 col-sm-12" style="margin-top: 20px">
                  <form class="form-inline">
                      <div class="form-group">
                          <label>Min Calories : </label>
                          <input type="text" class="form-control" id="minCalories">
                      </div>
                      <div class="form-group" style="margin-left:15px">
                          <label>Max Calories : </label>
                          <input type="text" class="form-control" id="maxCalories">
                      </div>
                  </form>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12 col-sm-12" style="margin-top: 20px">
                  <form class="form-inline">
                      <div class="form-group">
                          <label>Element : </label>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" id="earth">
                                  Earth</label>

                          </div>
                          <div class="checkbox" style="margin-left: 10px">
                              <label>
                                  <input type="checkbox" id="water">
                                  Water</label>
                          </div>
                          <div class="checkbox" style="margin-left: 10px">
                              <label>
                                  <input type="checkbox" id="wind">
                                  Wind</label>
                          </div>
                          <div class="checkbox" style="margin-left: 10px">
                              <label>
                                  <input type="checkbox" id="fire">
                                  Fire</label>
                          </div>
                      </div>

                  </form>
              </div>
          </div>


          <div class="row">
              <div class="col-md-12 col-sm-12" style="margin-top: 20px">
                  <form class="form-inline" style="margin-right:15px">
                      <div class="form-group">
                          <label>Min Nutrients : </label>
                          <select class="form-control" id="minNutrients">
                          </select>
                          <input type="text" class="form-control" id="minNutrientsField">
                          <button type="button" id="addMinNutrients" class="btn btn-default">Add</button>
                      </div>
                      <div class="form-group">
                          <label>Max Nutrients : </label>
                          <select class="form-control" id="maxNutrients">
                          </select>
                          <input type="text" class="form-control" id="maxNutrientsField">
                          <button type="button" id="addMaxNutrients" class="btn btn-default">Add</button>
                      </div>
                  </form>
              </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-9" style="margin-top: 20px">
                <ul class="list-group" id="nutrients">
                </ul>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <form class="form-inline">
                      <div class="form-group">
                          <label>Option : </label>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" id="exclude">
                                  exclude</label>

                          </div>
                          <div class="checkbox" style="margin-left: 10px">
                              <label>
                                  <input type="checkbox" id="random">
                                  random</label>
                          </div>
                          <div class="checkbox" style="margin-left: 10px">
                              <label>
                                  <input type="checkbox" id="elementAllSet">
                                  Element All Match</label>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12" style="margin-top: 20px">
                  <form class="form-inline">
                      <div class="form-group">
                          <label>Limit : </label>
                          <input type="text" class="form-control" id="limit">
                      </div>
                      <div class="form-group" style="margin-left:15px">
                          <label>Offset : </label>
                          <input type="text" class="form-control" id="offset">
                      </div>
                  </form>
              </div>
          </div>
          <div class="row" style="margin-top:20px">
            <div class="col-md-6 col-sm-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Fields : </label>
                        <input type="text" class="form-control" id="fields">
                    </div>
                </form>
            </div>
        </div>
          <div class="row" style="margin-top: 20px">
              <div class="col-md-4">
                  <button type="button" class="btn btn-primary" id="submit">
                      Submit
                  </button>
                  <button type="button" class="btn btn-danger" id="reset">
                      Reset
                  </button>
              </div>
          </div>
      </div>
    <div class="row" style="margin-top: 20px">
          <div class="col-md-12 col-sm-12">
              <div class="panel panel-primary">
              <div class="panel-body" id="url">
              </div>
            </div>
          </div>
      </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>calories</th>
                    <th>json</th>
                </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
    </div>

    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}