{% extends "base.html" %}
{% block content %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Find Foods</h3>
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Search By</label>
                        <select class="form-control" id="searchBy">
                            <option value="id">id</option>
                            <option value="ingredient">ingredient id</option>
                        </select>
                        <input type="text" class="form-control" id="searchId">
                    </div>
                </form>
            </div>
        </div>
          <div class="row">
              <div class="col-md-12 col-sm-12" style="margin-top: 20px">
                  <form class="form-inline">
                      <div class="form-group">
                          <label>limit : </label>
                          <input type="text" class="form-control" id="limit">
                      </div>
                      <div class="form-group">
                          <label>offset : </label>
                          <input type="text" class="form-control" id="offset">
                      </div>
                  </form>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12" style="margin-top: 20px">
                  <form class="form-inline">
                      <div class="form-group">
                          <label>Element : </label>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" id="earth">
                                  Earth</label>

                          </div>
                          <div class="checkbox" style="margin-left: 10px">
                              <label>
                                  <input type="checkbox" id="water">
                                  Water</label>
                          </div>
                          <div class="checkbox" style="margin-left: 10px">
                              <label>
                                  <input type="checkbox" id="wind">
                                  Wind</label>
                          </div>
                          <div class="checkbox" style="margin-left: 10px">
                              <label>
                                  <input type="checkbox" id="find">
                                  Fire</label>
                          </div>
                      </div>

                  </form>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12 col-sm-12" style="margin-top: 20px">
                  <form class="form-inline">
                      <div class="form-group">
                          <label>Option : </label>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" id="exclude">
                                  exclude</label>

                          </div>
                          <div class="checkbox" style="margin-left: 10px">
                              <label>
                                  <input type="checkbox" id="random">
                                  random</label>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="row" style="margin-top: 20px">
              <div class="col-md-12 col-sm-12">
                  <div class="panel panel-primary">
                  <div class="panel-body" id="url">
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-md-4">
                  <button type="button" class="btn btn-default" id="submit">
                      Submit
                  </button>
              </div>
          </div>
      </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>calories</th>
                    <th>json</th>
                </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
    </div>

    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}